<div id="player">
  <div id="level"></div>
  <div id="edit"><button>Edit</button></div>
</div>

<div id="editor">
  <div><textarea></textarea></div>
  <div id="play"><button>Play</button></div>
  <div id="load">
    Load level: <select></select>
    <button>Load</button>
  </div>
</div>

