<script type="text/javascript">
  var LevelJSON = <%- JSON.stringify(level) %>;
</script>

<div class="editor">
  <div class="preview-screen">
    <div class="player"></div>
    <div class="controls">
      <button class="edit">Edit</button>
      <button class="save">Save</button>
    </div>
    <div class="message"></div>
  </div>

  <div class="edit-screen">
    <div><textarea></textarea></div>
    <div class="play"><button>Play</button></div>
    <div class="load">
      Load level: <select></select>
      <button>Load</button>
    </div>
  </div>
</div>

