<script type="text/javascript">
  var Level = <%- JSON.stringify(level) %>;
</script>

<div id="player">
  <div id="level"></div>
  <div id="controls">
    <button id="edit">Edit</button>
    <button id="save">Save</button>
  </div>
  <div id="message"></div>
</div>

<div id="editor">
  <div><textarea></textarea></div>
  <div id="play"><button>Play</button></div>
  <div id="load">
    Load level: <select></select>
    <button>Load</button>
  </div>
</div>

