<!DOCTYPE html>
<html>
  <head>
    <title>gogol</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
    <script type="text/javascript" src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
    <script type="text/javascript" src="/browserify.js"></script>
    <link rel="stylesheet" href="/main.css"/>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-4209567-2']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
    <div id="header">
      <a href="/">Home</a>
      |
      <a href="/README">README</a>
      |
      <a href="/editor">Editor</a>
      |
      <a href="https://github.com/aanand/gogol">Code</a>
    </div>

    <div id="content"><%- body %></div>
  </body>
</html>  

