html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;

  display: -moz-box;
  -moz-box-pack: center;
  -moz-box-align: center;

  display: box;
  box-pack: center;
  box-align: center;

  background: #222;
  color: #ddd;
}

pre {
  font-family: "Monaco", "Lucida Console", monospace;
  line-height: 0.9em;
}

